*, *::before, *::after {
	box-sizing: border-box;
}

:root {
	--clr-alive: #121113;
	--clr-background: whitesmoke;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--clr-background);
	display: grid;
	place-content: center;
	height: 100%;
}

#root {
	--cell-size: 10px;
	--grid-size: 24;
	--gap: calc(var(--cell-size) * .3);
	
	display: grid;
	grid-template-columns: repeat(var(--grid-size), var(--cell-size));
	grid-template-rows: repeat(var(--grid-size), var(--cell-size));
	gap: var(--gap);
}

#root * {
	background-color: var(--clr-alive);
	border-radius: var(--gap);
}

@media (prefers-color-scheme: dark) {
	:root {
		--clr-alive: whitesmoke;
		--clr-background: #121113;
	}
}